var config = {
    address: "localhost",
    port: 8080,
    zoom: 0.75,
    ipWhitelist: ["127.0.0.1", "::ffff:127.0.0.1", "::1"],
    useHttps: false,
    language: "en",
    timeFormat: 24,
    units: "metric",
    modules: [
        {
            module: "alert",
        },
        {
            module: "clock",
            position: "top_left",
        },
        {
            module: "calendar",
            header: "Calendar",
            position: "top_left",
            config: {
                calendars: [
                    {
                        symbol: "calendar-alt",
                        url: "${CAL_URL}",
                    },
                    {
                        symbol: "calendar-alt",
                        url: "https://www.calendarlabs.com/ical-calendar/ics/75/UK_Holidays.ics",
                    },
                ],
            },
        },
        {
            module: "MMM-HomeAssistantDisplay",
            position: "top_center",
            config: {
                host: "${HOME_ASSISTANT_HOST}",
                token: "${HOME_ASSISTANT_TOKEN}",
                port: 8123,
                useTLS: true,
                title: "Currently listening to ...",
                sections: [
                    {
                        triggerEntities: ["media_player.living_room_speaker"],
                        displayTemplate: `
						<div class="title">{{ states.media_player.living_room_speaker.attributes.media_title }}</div>
						<div>({{ states.media_player.living_room_speaker.attributes.media_artist | default('None') }})</div>
						`,
                        class: "playing_info",
                    },
                ],
            },
        },
        {
            module: "MMM-HomeAssistantDisplay",
            position: "bottom_right",
            config: {
                host: "${HOME_ASSISTANT_HOST}",
                token: "${HOME_ASSISTANT_TOKEN}",
                port: 8123,
                useTLS: true,
                title: "Living Room",
                sections: [
                    {
                        triggerEntities: [
                            "sensor.living_room_sensor_temperature",
                            "sensor.living_room_sensor_humidity",
                        ],
                        displayTemplate: `
                        {{states('sensor.living_room_sensor_temperature')}} <i class='mdi mdi-temperature-celsius'></i> | {{states('sensor.living_room_sensor_humidity')}}% <i class='mdi mdi-water'></i>
                        `,
                    },
                ],
            },
        },
        {
            module: "MMM-HomeAssistantDisplay",
            position: "bottom_right",
            config: {
                host: "${HOME_ASSISTANT_HOST}",
                token: "${HOME_ASSISTANT_TOKEN}",
                port: 8123,
                useTLS: true,
                title: "Bedroom",
                sections: [
                    {
                        triggerEntities: [
                            "sensor.temp_humidity_sensor_temperature",
                            "sensor.temp_humidity_sensor_humidity",
                        ],
                        displayTemplate: `
                        {{states('sensor.temp_humidity_sensor_temperature')}} <i class='mdi mdi-temperature-celsius'></i> | {{states('sensor.temp_humidity_sensor_humidity')}}% <i class='mdi mdi-water'></i>
                        `,
                    },
                ],
            },
        },
        {
            module: "compliments",
            position: "lower_third",
        },
        {
            module: "weather",
            position: "top_right",
            config: {
                weatherProvider: "openmeteo",
                type: "current",
                lat: ${WEATHER_LAT},
                lon: ${WEATHER_LON},
            },
        },
        {
            module: "newsfeed",
            position: "bottom_bar",
	    disabled: true,
            config: {
                feeds: [
                    {
                        title: "Guardian UK",
                        url: "https://www.theguardian.com/uk/rss",
                    },
                    {
                        title: "Guardian Tech",
                        url: "https://www.theguardian.com/uk/technology/rss",
                    },
                ],
                showSourceTitle: true,
                showPublishDate: true,
                broadcastNewsFeeds: true,
                broadcastNewsUpdates: true,
            },
        },
        {
            module: "MMM-PIR",
            position: "bottom_center",
	    disabled: "true",
            config: {
                sensorPin: 593,
                delay: 30 * 60 * 1000,
                turnOffDisplay: true,
                showCountdown: true,
            },
        },
        {
            module: "MMM-GoogleKeep",
            position: "bottom_left",
            header: "Google Keep",
            config: {
                username: "${KEEP_USERNAME}",
                token: "${KEEP_TOKEN}",
                noteId: "${KEEP_NOTE_ID}",
                updateInterval: 60,
                maxLines: 30,
                unchecked_only: true,
            },
        },
    ],
};

/*************** DO NOT EDIT THE LINE BELOW ***************/
if (typeof module !== "undefined") {
    module.exports = config;
}
